/* ===== Start site main ===== */
/* ===== Start news section ===== */
.news-section-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.news-section-twoo {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.news {
    cursor: pointer;
    background-color: #f6f6f6;
    border-radius: 15px;
    padding: 20px 18px;
    max-width: 393px;
    width: 100%;
}

.news-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #000;
}

.news-info {
    font-size: 16px;
    line-height: 22px;
    color: #4A4B4C;
}

.news-date {
    display: flex;
    align-items: center;
}

.news-logo {
    margin-right: 10px;
}
/* ===== End news section ===== */

/* ===== Start feature section ===== */
.feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1050px;
    margin-bottom: 60px;
    width: 100%;
    height: 100px;
    border-radius: 7px;
    padding: 25px 71px 25px 29px;
    background-image: url('../img/Group\ 35\ 1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.feature-text {
    max-width: 404px;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}

.feature-link {
    border: 1px solid #f78b3b;
    padding: 13px 30px;
    background-color: #F78B3B;
    color: #fff;
    text-decoration: none;
}

.feature-link:hover {
    border-color: #f78b3b;
    background-color: #fff;
    color: #F78B3B;
}

.feature-link:active {
    background-color: #F78B3B;
    color: #fff;
    opacity: 0.8;
}
/* ===== End feature section ===== */

/* ===== Start global news section ===== */
.global-news {
    display: flex;
    justify-content: space-between;
}

.global-news-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.global-news-item a {
    display: block;
    text-decoration: none;
}

.global-news-container {
    display: block;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 50px;
}

.global-news-link {
    max-width: 535px;
    width: 100%;
    display: block;
    text-decoration: none;
}

.global-news-img {
    margin-right: 15px;
}

.global-news-title {
    display: block;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
}

.global-news-title:hover {
    color: #0000ff;
}

.global-news-title:active {
    opacity: 0.5;
}

.global-news-text {
    margin-top: 10px;
    line-height: 22px;
    color: #4A4B4C;
}

.global-news-text:hover {
    color: #fb0000;
}

.global-news-text:active {
    color: #fb0000;
    opacity: 0.5;
}

.global-news-date-content {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    color: #5E5F61;
}

.global-news-date {
    color: #5E5F61;
}

.global-news-img {
    margin-right: 10px;
}


.global-news-container-twoo {
    max-width: 393px;
    width: 100%;
}
/* ===== End global news section ===== */
.next-page {
    background: #EAEAEA;
    border-radius: 10px;
    max-width: 796px;
    margin-left: 180px;
    margin-bottom: 100px;
    padding: 17px 0;
    text-align: center;
}

.next-page a {
    color: #000000;
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}
/* ===== End site main ===== */